<%- include('partials/header') %>
 

    <p>Use this site to get your weather!</p>
    <form id="searchForm">
        
            <input type="text" placeholder="Location">
  
        
        <button>Get</button>
    </form>

    <h2>Weather Results</h2>
    <hr>
    <p id="errorp"></p>
    <p id="messageOne"></p>
    <p id="messageTwo"></p>

    
<%- include('partials/footer') %>